.course{
    background-color: rgba(255, 255, 255, 0.945);
    margin: 30px;
    height: fit-content;
    
    
}
.course:hover{
    box-shadow: 5px 5px 10px black;
}

.course p{
    text-align: center;
}
.course p:hover{
    color: black;
}
button{
    width: 100% !important;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
}