.home{
    background-color: #172239b2;
    /* text-align: center; */
    color: white;
    
}
.class-title{
    font-size: 60px;  
}
.heading{
    padding-top: 150px;
}
.school-info{
    padding-top: 150px;
}
.promo-courses{
    background-color: #13131f;
    margin-top: 200px;
}
.home-courses{
    
    margin: 50px 100px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 50px;
}
#video{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: fit-content;
    object-fit: cover;
    transform: translate(-50%,-50%);
    z-index: -1;
}