
.navbar{
    background-color: #172239;
    position: fixed;
    width: 100%;
}
.link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
}
.link:hover{
    color: orange;
}