.team{
    background-color: rgb(36, 12, 36);
    color: white;
    text-align: center;
}
.members{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 100px;
    padding-top: 70px;
}
.member{
    margin: 50px;
}
.member img{
    width: 150px;
    margin-bottom: 20px;
    
}